-# slick画像
.slick
  .top_page__slick--first
    = image_tag "common/country.first.image.png"
  .top_page__slick--second
    = image_tag "common/country.2nd.image.png"
  .top_page__slick--third
    = image_tag "common/country.3rd.image.png"
  .top_page__slick--fourth
    = image_tag "common/country.4th.image.png"