h3 {
  text-align: center;
  font-size: 45px;
}

.comment {
  margin: 0 auto;
  width: 1000px;
  box-shadow: 0 2px 5px #ccc;
  background: #eee;
  padding: 20px;
  &__index__box {
    border-top: 2px #353232 dotted;
    margin: 10px 10px 0 0;
    &--link {
      text-decoration: none;
      color: rgb(4, 126, 4);
    }
    &--user {
      display: inline-block;
    }
    &--middle {
      display: inline;
    }
    &--text {
      display: inline;
    }
  }
}